@{
    ViewBag.Title = "İletişim";
}

<h2>@ViewBag.Title.</h2>
<h3>Buralardan ulaşabilirsiniz</h3>

<address>
    Hatay Büyük Şehir Belediyesi<br />
    Köprü Başı<br />
    <strong>Telefon:</strong>+(90)(505)958 63 36</><br />
    Antakya/Hatay
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">iletisim@hatay.bel.tr</a><br />
</address>