@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="jumbotron">
    <h1>
        Sosyal Belediye <a href="https://twitter.com/legendsalper"><i class="fab fa-twitter-square"></i></a> <a href="https://www.facebook.com/legendsalper"><i class="fab fa-facebook-square"></i></a> <a href=""><i class="fab fa-whatsapp"></i></a>
    </h1>
    <p class="lead">Sosyal Belediye sizin için, her zaman 81 ilde 7 bölgede 80 milyon gülsün diye</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kullanıcı<i class="far fa-address-card"></i></h2>
        <p>
            Buradan kullanıcı kaydı oluşturabilirsiniz.
        </p>

        <p><a class="btn btn-default" href="Login.cshtml">Tıklayınız &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Yorumlar <i class="far fa-comments"></i>
        </h2>
        <p>Şehrimiz için yapılan hizmetlerle ilgili yorumları buradan görüntüleyebilirsiniz.</p>
        <p><a class="btn btn-default" href="">Tıklayınız &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Hizmetler <i class="fas fa-concierge-bell"></i>
        </h2>
        <p>Şehrimizde yapılması planlanan ve daha önceden yapılmış hizmetleri buradan görüntüleyebilirsinizç</p>
        <p><a class="btn btn-default" href="">Tıklayınız &raquo;</a></p>
    </div>
</div>

